<%- include('../port/layout-start', {title: title}) %>
<%- include('../port/menu', {user: user}) %>


<h1><%= title %></h1>
<a class="btn btn-sm btn-primary" href="<%=process.env.URL_HOME%>api/books/create">Добавить запись</a>
    <% if(todos.length) { %>
        <table class="table table-striped table-sm  mt-3">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col">Название</th>
                <th scope="col">Описание</th>
                <th scope="col">Автор</th>
                <th scope="col">В избранном</th>
                <th scope="col">Заголовок</th>
                <th scope="col">Действие</th>
            </tr>
            </thead>
            <tbody>
                <% todos.map((el, idx) => {  %>
                    <tr>
                        <th scope="row"><%= idx +1 %></th>
                        <td>
                        <% if(el.fileBook) { %>
                            <img src="<%=process.env.URL_HOME%>api/books/<%= el.id%>/download" width="30px" height="50px">  
                            <% } else { %>  
                            <i>Not found</i>
                            <% } %>
                         </td>    
                        <td><%= el.title %></td>
                        <td><%= el.description %></td>
                        <td><%= el.authors %></td>
                        <td>
                        <% if(el.favorite) { %>
                        <i>В избранном</i>  
                        <% } else { %>  
                        <i></i>
                        <% } %>     
                        </td>
                        <td><%= el.fileName %></td>
                        <td class="text-right">
                            <a class="btn btn-sm btn-success" href="<%=process.env.URL_HOME%>api/books/<%= el.id %>">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-sm btn-primary" href="<%=process.env.URL_HOME%>api/books/<%= el.id %>/update">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>   
        <h3 class="mt-5">Записей пока нет</h3>
    <% } %>    

    



<%- include('../port/layout-end') %>